@import url("https://fonts.googleapis.com/css2?family=El+Messiri&family=Montserrat:wght@200;600&family=Open+Sans:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --primary-color: black;
  --secondary-color: white;
  --tertiary-color: red;
}
.light-mode {
  --primary-color: white;
  --secondary-color: black;
  --tertiary-color: red;
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: black;
    --secondary-color: white;
    --tertiary-color: red;
  }
}
@media (prefers-color-scheme: light) {
  .light-mode {
    --primary-color: white;
    --secondary-color: black;
    --tertiary-color: red;
  }
}
body {
  background-color: var(--primary-color);
  overflow-x: hidden;
  letter-spacing: normal;
  font-family: Open Sans;
  font-weight: 400;
}

nav img {
  width: 50px;
}
nav {
  width: 100vw;
  height: 70px;
  background-color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 3;
  color: var(--secondary-color);
  font-family: El Messiri;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 300px;
  text-align: right;
}
.nav-li {
  display: inline;
  padding-right: 15px;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  padding-right: 5px;
  padding-left: 8px;
  animation: beat 0.25s infinite alternate;
}
.logo span {
  font-weight: bolder;
}
.nav-li a {
  text-decoration: none;
  color: var(--secondary-color);
}
.nav-li a:hover {
  color: var(--tertiary-color);
  transition: 0.3s;
}

.active-nav {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  transition: 0.5s;
}
.active-nav a:hover {
  color: var(--secondary-color);
}
ul.active a {
  color: var(--primary-color);
}

nav img {
  animation: rotation infinite 14s linear;
  cursor: pointer;
}
nav img:hover {
  animation-play-state: paused;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menu {
  display: none;
}
.ligne1,
.ligne2,
.ligne3 {
  background-color: var(--secondary-color);
  height: 1.3px;
  width: 10px;
  margin-bottom: 3px;
  transition: 0.5s;
}

/*home*/
.home {
  width: 100%;
  height: 770px;
  padding-top: 70px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.home h1 {
  font-size: 50px;
  color: var(--tertiary-color);
}
.scale-up {
  margin-top: 25px;
  transform: scale(2);
}
.heart-rate {
  width: 150px;
  height: 73px;
  position: relative;
  margin: 20px auto;
}

.fade-in {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  top: 0;
  right: 0;
  animation: heartRateIn 2.5s linear infinite;
}

.fade-out {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -120%;
  animation: heartRateOut 2.5s linear infinite;
  background: var(--primary-color);
  background: -moz-linear-gradient(
    left,
    var(--primary-color) 0%,
    var(--primary-color) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    left,
    var(--primary-color) 0%,
    var(--primary-color) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -o-linear-gradient(
    left,
    var(--primary-color) 0%,
    var(--primary-color) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -ms-linear-gradient(
    left,
    var(--primary-color) 0%,
    var(--primary-color) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    to right,
    var(--primary-color) 0%,
    var(--primary-color) 80%,
    rgba(255, 255, 255, 0) 100%
  );
}

@keyframes heartRateIn {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes heartRateOut {
  0% {
    left: -100%;
  }
  30% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

.home p {
  color: var(--secondary-color);
  margin-top: 35px;
  max-width: 50%;
  font-size: 25px;
}

.button {
  --offset: 10px;
  --border-size: 2px;
  display: block;
  position: relative;
  padding: 1.5em 3em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: transparent;
  color: var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
  margin-top: 25px;
}
.button:hover {
  background: var(--secondary-color);
}

.button span {
  color: var(--tertiary-color);
}
.button__horizontal,
.button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.8s ease;
  will-change: transform;
}
.button__horizontal::before,
.button__vertical::before {
  content: "";
  position: absolute;
  border: inherit;
}
.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
  color: var(--secondary-color);
}

.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}
.button:hover .button__horizontal {
  transform: scaleX(0);
}
.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
  color: var(--secondary-color);
}

.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button__vertical {
  transform: scaleY(0);
}

/*how-it-works*/
.how-it-works {
  width: 100%;
  height: 740px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  align-content: center;
  text-align: center;
}

.how-it-works p {
  font-size: 20px;
  max-width: 40%;
}
.grid-how-it-works {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
}
.grid {
  display: flex;
  align-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.grid h2 {
  height: 20%;
  font-size: 30px;
  margin-top: 15px;
  color: var(--tertiary-color);
}
.grid p {
  font-size: 25px;
  margin-top: 15px;
  max-width: 90%;
  height: 50%;
}
.grid:nth-child(2) {
  transition-delay: 200ms;
}
.grid:nth-child(3) {
  transition-delay: 300ms;
}
.grid:nth-child(4) {
  transition-delay: 400ms;
}

.grid-button {
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--tertiary-color);
  border-radius: 2rem;
  cursor: pointer;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  will-change: transform;
}
.grid-button a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 0.3s;
}
.grid-button a:hover {
  transition: all 0.3s;
  font-size: 15px;
}
.grid-button a.light-mode {
  color: var(--primary-color);
}

.grid-button:disabled {
  pointer-events: none;
}

.grid-button:hover {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-3px);
}

.grid-button:active {
  box-shadow: none;
  transform: translateY(0);
}

/*Fonctionnement*/
.how-it-works,
.maladies,
.prevention,
.aide {
  max-width: 100%;
}
.fonctionnement {
  width: 100%;
  height: auto;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.titre-fonctionnement {
  font-size: 30px;
  color: var(--secondary-color);
}

.fonctionnement div {
  max-width: 100%;
  margin: auto;
}
.cellule,
.composants,
.moteur,
.circulation {
  width: 100%;
}
.collapsible {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.activee,
.collapsible:hover {
  color: var(--secondary-color);
  transform: scale(1.05);
  transition: 0.3s;
}

.collapsible.activee {
  color: var(--tertiary-color);
}
.content {
  padding: 0 18px;
  display: none;
  background-color: var(--primary-color);
}

.content,
.content p {
  color: var(--secondary-color);
  text-align: left;
  font-size: 22px;
}

.collapsible i {
  margin-left: 95%;
}

/*Maladies*/
.maladies h2 {
  color: var(--secondary-color);
}
.maladies {
  width: 100%;
  height: auto;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.partie-maladie {
  height: auto;
  background-color: var(--primary-color);
  z-index: 2;
}

.titre1,
.titre2,
.titre3,
.titre4,
.titre5 {
  width: 350px;
  height: 45px;
  z-index: 2;
  position: sticky;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titre4 {
  width: 400px;
  font-size: 16px;
}
.titre5 {
  width: 600px;
  height: 60px;
  font-size: 16px;
}
.grid-maladies {
  display: grid;
  grid-template-columns: repeat(2, 700px);
  grid-template-rows: repeat(5, 600px);
  margin-left: 60px;
}
.texte-maladie,
.texte-maladie5,
.texte-maladie4 {
  width: 100%;
  height: 491.6px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 2px solid var(--tertiary-color);
  display: flex;
  align-items: center;
  font-family: Monserrat;
  font-weight: 200;
}

.texte-maladie,
.texte-maladie2 > p,
ul,
h3 {
  font-size: 17px;
  word-spacing: 2px;
}
.texte-maladie5 p,
.texte-maladie5 ul {
  font-size: 22px;
}
.texte-maladie4 p,
.texte-maladie4 ul {
  font-size: 22px;
}

.maladies-bonus p {
  font-family: El Messiri;
  font-weight: 500;
  margin: 15px;
  border-top: 4px solid #ff0000;
  border-right: 4px solid #ff0000;
  border-bottom: 4px solid #ff0000;
  border-left: 4px solid #ff0000;
}

.intext {
  margin: 15px;
}
.maladies-bonus {
  width: 100%;
  height: auto;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}

/*Prevention*/
.prevention {
  height: auto;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-bottom: 50px;
}

.prevention h3 {
  font-size: 30px;
  margin-bottom: 15px;
}
.prevention-texte {
  width: 80%;
  display: flex;
  align-items: left;
  flex-direction: column;
  text-align: left;
}

.element {
  color: rosybrown;
  font-size: 20px;
}
.debut,
.sous-titre {
  color: var(--tertiary-color);
  font-size: 20px;
}

.debut {
  font-size: 25px;
  margin-bottom: 7px;
}
.prevention-texte p:not(.debut) {
  font-size: 23px;
}
.prevention-texte p span {
  font-size: 60px;
}
.grid-habitudes {
  display: grid;
  grid-template-columns: repeat(2, 550px);
  grid-template-rows: repeat(3, 220px);
}
.bonnes-habitudes {
  display: grid;
  place-items: center;
}
.bonnes-habitudes h3 {
  font-size: 25px;
  color: var(--tertiary-color);
}
.bonnes-habitudes p {
  font-size: 22px;
  max-width: 60%;
}
.prevention-facteurs li {
  margin-bottom: 8px;
}
/*Aide*/
.aide {
  height: 200px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help-text p {
  color: var(--secondary-color);
  font-size: 20px;
  display: flex;
  text-align: center;
}

.help-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 15px;
}
.aide span {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  height: 55px;
  width: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.adresse {
  font-size: 15px;
  display: flex;
  text-align: center;
}
.aide span a {
  text-decoration: none;
  color: var(--secondary-color);
  cursor: pointer;
  margin: auto;
}

.aide span i {
  margin: auto;
}
.aide span p {
  margin: auto;
  font-size: 20px;
}
.help-buttons span {
  transition: all ease-in-out 0.3s;
}
.help-buttons span:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.phone a {
  font-size: 19px;
}

@keyframes beats {
  to {
    transform: scale(1.2);
  }
}

.sonnerie {
  animation: sonne 0.05s infinite alternate;
}
@keyframes sonne {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(20deg);
  }
}

/*footer*/
footer img,
footer svg {
  width: 200px;
  height: 100px;
  margin-right: 8px;
  cursor: pointer;
}
.footer-grid {
  display: grid;
  grid-template-columns: 70% 30%;
}
.partners {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--secondary-color);
}
.partners {
  color: var(--primary-color);
}
.partners h2 {
  color: var(--secondary-color);
}
.liens-utiles h2 {
  color: var(--secondary-color);
}
/*.liens-utiles h2.light-mode {
  color: black;
}*/
.liens-utiles ul {
  list-style-type: none;
}
.liens-utiles a {
  text-decoration: none;
  color: var(--tertiary-color);
}
.liens-utiles a:hover {
  color: var(--secondary-color);
  transform: scale(1.3);
  transition: ease-in-out 0.2s;
}

footer h5 {
  text-align: center;
  justify-content: center;
  color: grey;
  font-size: 19px;
  padding-bottom: 7px;
}

/*pop-up*/
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 4;
  padding: 280px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: white;
  margin: auto;
  border: 1px solid #888;
  width: 70%;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  font-family: El Messiri;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* Modal Header */
.modal-header {
  background-color: red;
  color: white;
  width: 100%;
  height: 10%;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.modal-header h2 {
  margin-left: 5px;
  font-size: 20px;
}
/* Modal Body */
.modal-body {
  background-color: white;
  color: rgb(185, 14, 14);
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 21px;
}
#btndonne {
  list-style-type: none;
  width: 70px;
  height: 25px;
  border: 2px solid red;
  color: black;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 5px;
}
#btndonne:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

#tbuser {
  color: black;
  border: 2px solid red;
  height: 25px;
  border-radius: 4px;
}
#output1 {
  display: flex;
  margin-left: 5px;
  font-size: 18px;
}
/* Modal Footer */
.modal-footer {
  background-color: red;
  color: white;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-footer img {
  height: 28px;
  margin-left: 5px;
  animation: beat 0.3s infinite alternate;
}
@keyframes beat {
  to {
    transform: scale(1.2);
  }
}
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all ease-in-out 0.3s;
  display: block;
  position: static;
  margin-right: 5px;
  margin-top: -5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.2);
  transition: all ease-in-out 0.3s;
}
/*scroll-bar*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--primary-color);
}
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: whitesmoke;
}
/*donate button*/
.donate {
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.donate img {
  width: 30px;
}
#mybutton {
  position: fixed;
  bottom: 6px;
  right: 10px;
  z-index: 5;
}
/*scroll-up-button*/
.scroll-up-button {
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.scroll-up-button img {
  width: 30px;
}
#scroll-up {
  position: fixed;
  bottom: 66px;
  right: 10px;
  z-index: 5;
}
.caché {
  display: none;
}
/*appearence effect*/
.effect {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-50%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.home h1.effect,
.home p.effect {
  transform: translateX(0);
}

.help-buttons.effect {
  transform: translateY(100%);
}
.help-buttons.show {
  transform: translateY(0);
}
@media (prefers-reduced-motion) {
  .effect {
    transition: none;
  }
}

/*media query*/

/*phone*/
@media screen and (max-width: 576px) {
  /*nav*/
  .menu {
    display: block;
  }

  nav ul {
    flex-direction: column;
    height: calc(100vh - 60px);
    position: fixed;
    top: 60px;
    width: 100vw;
    background-color: var(--primary-color);
    transform: translateX(100%);
    transition: 0.5s;
  }
  .nav-li a {
    color: var(--secondary-color);
  }
  .active-ligne {
    transform: translateX(0);
    transition: 0.5s;
  }
  .active-ligne1 {
    position: fixed;
    transform: rotate(-45deg);
    transition: 0.5s;
  }
  .active-ligne2 {
    transform: rotate(45deg);
    transition: 0.5s;
  }
  .active-ligne3 {
    display: none;
  }

  /*home*/
  .home {
    height: auto;
  }
  .home h1 {
    margin-top: 42px;
    font-size: 36px;
    color: var(--tertiary-color);
  }
  .home p {
    color: var(--secondary-color);
    margin-top: 35px;
    max-width: 85%;
    font-size: 18.6px;
  }

  /*how-it-works*/
  .how-it-works {
    width: 100%;
    height: auto;
    padding-top: 10px;
  }

  .how-it-works p {
    font-size: 20px;
    max-width: 40%;
  }
  .grid-how-it-works {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
  }
  .grid {
    height: 385px;
  }
  .grid h2 {
    height: 20%;
    font-size: 22px;
  }
  .grid p {
    font-size: 14px;
    max-width: 90%;
  }

  .grid-button {
    width: 150px;
  }
  /*fonctionnement*/
  .composants img {
    width: 350px;
  }
  /*maladies*/
  .maladies {
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .partie-maladie {
    height: auto;
    background-color: var(--primary-color);
    z-index: 2;
    margin-bottom: 65px;
  }

  .titre1,
  .titre2,
  .titre3,
  .titre4,
  .titre5 {
    width: 200px;
    height: 45px;
    z-index: 2;
    position: sticky;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    border-radius: 8px 8px 0 0;
  }

  .titre4 {
    width: 250px;
  }
  .titre5 {
    width: 250px;
    height: 90px;
    font-size: 12px;
  }
  .grid-maladies {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: auto;
    margin-right: 55px;
    margin-top: 15px;
  }
  .texte-maladie {
    width: 100%;
    height: auto;
    border-radius: 0 4px 4px 4px;
  }

  .texte-maladie5,
  .texte-maladie4 {
    height: auto;
  }
  .texte-maladie,
  .texte-maladie2 > p,
  ul,
  h3 {
    font-size: 12px;
    word-spacing: 2px;
  }
  .texte-maladie5 p,
  .texte-maladie5 ul {
    font-size: 12px;
  }
  .texte-maladie4 p,
  .texte-maladie4 ul {
    font-size: 12px;
  }
  .intext {
    margin: 15px;
  }
  .maladies-bonus {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: rgb(81, 75, 75);
    font-size: 22px;
    margin-bottom: 12px;
  }
  /*prevention*/
  .grid-habitudes {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(3, 150px);
  }
  .bonnes-habitudes {
    display: grid;
    place-items: center;
  }
  .bonnes-habitudes h3 {
    font-size: 25px;
    color: var(--tertiary-color);
  }
  .bonnes-habitudes p {
    font-size: 15px;
    max-width: 80%;
  }
  .prevention-facteurs li {
    margin-bottom: 8px;
  }
  .grid-habitudes img {
    width: 40px;
  }
  /*Aide*/
  .aide {
    height: 160px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .help-text p {
    color: var(--secondary-color);
    font-size: 20px;
    display: flex;
    text-align: center;
  }

  .help-buttons {
    display: grid;
    align-items: center;
    grid-template-rows: repeat(4, 100px);
    width: 25px;
    height: auto;
    margin-top: 15px;
  }
  .aide span {
    background-color: var(--tertiary-color);
    color: white;
    height: 55px;
    width: 235px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  span i {
    color: white;
  }

  .adresse {
    font-size: 11px;
    display: flex;
    text-align: center;
  }
  .mail a {
    font-size: 13px;
  }
  .aide span a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: auto;
  }

  .aide span i {
    margin: auto;
  }
  .aide span p {
    margin: auto;
    font-size: 10px;
  }
  .help-buttons span {
    transition: all ease-in-out 0.3s;
  }
  .help-buttons span:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  .phone i:hover {
    animation: sonne 0.05s infinite alternate;
  }
  .phone a {
    font-size: 15px;
  }

  /*footer*/
  footer {
    height: auto;
    margin-top: 325px;
  }
  footer img,
  footer svg {
    width: 200px;
    height: 100px;
    margin-right: 8px;
    cursor: pointer;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .partners {
    display: grid;
    align-items: center;
    grid-template-rows: repeat(3, 120px);
    color: var(--secondary-color);
  }
  .partners h2 {
    color: var(--secondary-color);
    max-width: 70%;
  }
  .liens-utiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .liens-utiles h2 {
    color: var(--secondary-color);
  }
  /*.liens-utiles h2.light-mode {
  color: black;
}*/
  .liens-utiles ul {
    list-style-type: none;
  }
  .liens-utiles a {
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: 15px;
  }
  .liens-utiles a:hover {
    color: var(--secondary-color);
    transform: scale(1.3);
    transition: ease-in-out 0.2s;
  }

  footer h5 {
    text-align: center;
    justify-content: center;
    color: grey;
    font-size: 19px;
    padding-bottom: 7px;
  }
  /*bouton don*/
  .donate {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    z-index: 4;
  }
  .donate img {
    width: 30px;
  }
  #mybutton {
    position: fixed;
    bottom: 10px;
    right: 15px;
  }
}

/*landscape*/
@media screen and (max-width: 768px) {
  nav ul {
    margin-left: 0;
    font-size: 17px;
  }

  /*maladies*/
  .maladies {
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .partie-maladie {
    height: auto;
    background-color: var(--primary-color);
    z-index: 2;
    margin-bottom: 65px;
  }
  .titre1,
  .titre2,
  .titre3,
  .titre4,
  .titre5 {
    width: 200px;
    height: 45px;
    z-index: 2;
    position: sticky;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border: none;
    font-size: 17px;
    display: flex;
    align-items: center;
    border-radius: 8px 8px 0 0;
  }

  .titre4 {
    width: 250px;
  }
  .titre5 {
    width: 250px;
    height: 90px;
    font-size: 16px;
  }
  .grid-maladies {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: auto;
    margin-right: 55px;
    margin-top: 15px;
  }
  .texte-maladie {
    width: 100%;
    height: auto;
    border-radius: 0 4px 4px 4px;
  }

  .texte-maladie5,
  .texte-maladie4 {
    height: auto;
  }

  .texte-maladie,
  .texte-maladie2 > p,
  ul,
  h3 {
    font-size: 12px;
    word-spacing: 2px;
  }
  .texte-maladie5 p,
  .texte-maladie5 ul {
    font-size: 20px;
  }
  .texte-maladie4 p,
  .texte-maladie4 ul,
  .texte-maladie4 h3 {
    font-size: 20px;
  }
  .intext,
  .intext ul {
    margin: 15px;
    font-size: 20px;
  }
  .intext h3 {
    font-size: 20px;
  }
  .intext ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .maladies-bonus {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: rgb(81, 75, 75);
    font-size: 22px;
    margin-bottom: 12px;
  }

  /*prevention*/
  .grid-habitudes {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 260px);
  }
  .bonnes-habitudes {
    display: grid;
    place-items: center;
  }
  .bonnes-habitudes h3 {
    font-size: 35px;
    color: var(--tertiary-color);
  }
  .bonnes-habitudes p {
    font-size: 25px;
    max-width: 80%;
  }
  .prevention-facteurs li {
    margin-bottom: 8px;
  }
  .grid-habitudes img {
    width: 290px;
  }
  /*Aide*/
  .aide {
    height: 160px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .help-text p {
    color: var(--secondary-color);
    font-size: 20px;
    display: flex;
    text-align: center;
  }

  .help-buttons {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 250px);
    width: 25px;
    height: auto;
    margin-top: 15px;
  }
  .aide span {
    background-color: var(--tertiary-color);
    color: white;
    height: 55px;
    width: 235px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  span i {
    color: white;
  }

  .adresse {
    font-size: 11px;
    display: flex;
    text-align: center;
  }
  .mail a {
    font-size: 13px;
  }
  .aide span a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: auto;
  }

  .aide span i {
    margin: auto;
  }
  .aide span p {
    margin: auto;
    font-size: 10px;
  }
  .help-buttons span {
    transition: all ease-in-out 0.3s;
  }
  .help-buttons span:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  .phone i:hover {
    animation: sonne 0.05s infinite alternate;
  }
  .phone a {
    font-size: 15px;
  }
  /*footer*/
  footer {
    height: auto;
  }
  footer img,
  footer svg {
    width: 200px;
    height: 110px;
    margin-right: 8px;
    cursor: pointer;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .partners {
    display: grid;
    align-items: center;
    margin-left: 15px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, auto);
    color: var(--secondary-color);
  }
  .partners h2 {
    color: var(--secondary-color);
  }
  .liens-utiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .liens-utiles h2 {
    color: var(--secondary-color);
  }
  /*.liens-utiles h2.light-mode {
  color: black;
}*/
  .liens-utiles ul {
    list-style-type: none;
  }
  .liens-utiles a {
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: 15px;
  }
  .liens-utiles a:hover {
    color: var(--secondary-color);
    transform: scale(1.3);
    transition: ease-in-out 0.2s;
  }

  footer h5 {
    text-align: center;
    justify-content: center;
    color: grey;
    font-size: 19px;
    padding-bottom: 7px;
  }
}
/*tablet*/
@media screen and (max-width: 992px) {
  nav ul {
    margin-left: 0;
    font-size: 17px;
  }

  /*maladies*/
  .maladies {
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .partie-maladie {
    height: auto;
    background-color: var(--primary-color);
    z-index: 2;
    margin-bottom: 65px;
  }
  .titre1,
  .titre2,
  .titre3,
  .titre4,
  .titre5 {
    width: 200px;
    height: 45px;
    z-index: 2;
    position: sticky;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border: none;
    font-size: 17px;
    display: flex;
    align-items: center;
    border-radius: 8px 8px 0 0;
  }

  .titre4 {
    width: 250px;
  }
  .titre5 {
    width: 250px;
    height: 90px;
    font-size: 16px;
  }
  .grid-maladies {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: auto;
    margin-right: 55px;
    margin-top: 15px;
  }
  .texte-maladie {
    width: 100%;
    height: auto;
    border-radius: 0 4px 4px 4px;
  }

  .texte-maladie5,
  .texte-maladie4 {
    height: auto;
  }

  .texte-maladie,
  .texte-maladie2 > p,
  ul,
  h3 {
    font-size: 12px;
    word-spacing: 2px;
  }
  .texte-maladie5 p,
  .texte-maladie5 ul {
    font-size: 20px;
  }
  .texte-maladie4 p,
  .texte-maladie4 ul,
  .texte-maladie4 h3 {
    font-size: 20px;
  }
  .intext,
  .intext ul {
    margin: 15px;
    font-size: 20px;
  }
  .intext h3 {
    font-size: 20px;
  }
  .intext ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .maladies-bonus {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: rgb(81, 75, 75);
    font-size: 22px;
    margin-bottom: 12px;
  }

  /*prevention*/
  .grid-habitudes {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 260px);
  }
  .bonnes-habitudes {
    display: grid;
    place-items: center;
  }
  .bonnes-habitudes h3 {
    font-size: 35px;
    color: var(--tertiary-color);
  }
  .bonnes-habitudes p {
    font-size: 25px;
    max-width: 80%;
  }
  .prevention-facteurs li {
    margin-bottom: 8px;
  }
  .grid-habitudes img {
    width: 290px;
  }
  /*Aide*/
  .aide {
    height: 160px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .help-text p {
    color: var(--secondary-color);
    font-size: 20px;
    display: flex;
    text-align: center;
  }

  .help-buttons {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 250px);
    width: 25px;
    height: auto;
    margin-top: 15px;
  }
  .aide span {
    background-color: var(--tertiary-color);
    color: white;
    height: 55px;
    width: 235px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  span i {
    color: white;
  }

  .adresse {
    font-size: 11px;
    display: flex;
    text-align: center;
  }
  .mail a {
    font-size: 13px;
  }
  .aide span a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: auto;
  }

  .aide span i {
    margin: auto;
  }
  .aide span p {
    margin: auto;
    font-size: 10px;
  }
  .help-buttons span {
    transition: all ease-in-out 0.3s;
  }
  .help-buttons span:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  .phone i:hover {
    animation: sonne 0.05s infinite alternate;
  }
  .phone a {
    font-size: 15px;
  }
  /*footer*/
  footer {
    height: auto;
  }
  footer img,
  footer svg {
    width: 200px;
    height: 110px;
    margin-right: 8px;
    cursor: pointer;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .partners {
    display: grid;
    align-items: center;
    margin-left: 15px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, auto);
    color: var(--secondary-color);
  }
  .partners h2 {
    color: var(--secondary-color);
  }
  .liens-utiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .liens-utiles h2 {
    color: var(--secondary-color);
  }
  /*.liens-utiles h2.light-mode {
  color: black;
}*/
  .liens-utiles ul {
    list-style-type: none;
  }
  .liens-utiles a {
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: 15px;
  }
  .liens-utiles a:hover {
    color: var(--secondary-color);
    transform: scale(1.3);
    transition: ease-in-out 0.2s;
  }

  footer h5 {
    text-align: center;
    justify-content: center;
    color: grey;
    font-size: 19px;
    padding-bottom: 7px;
  }
}
